#header {

  .header-content {
    height: 28rem;
    margin-top: 2.5rem;
    position: relative;

    &::before {
      bottom: 0;
      z-index: 1;
      content: '';
      right: -7rem;
      display: block;
      width: 44.25rem;
      height: 23.4rem;
      position: absolute;
      background: url(../../images/header-image.svg);
    }

    .header-title {
      z-index: 5;
      width: 100%;
      line-height: 1.1;
      font-size: 4rem;
      font-weight: 700;
      position: relative;
      max-width: 32.25rem;
    }

    .header-caption {
      font-weight: 500;
      font-size: .9rem;
      line-height: 1.6;
      max-width: 19rem;
      position: relative;
      margin-top: 1.85rem;
      margin-bottom: 2rem;
    }

  }

}

@media all and (min-device-width: 320px) and (max-device-width: 720px) {

  #header {
    padding: 0;

    .header-content {
      margin-top: 0;
      padding: 0 1rem;
      position: relative;
      height: auto;

      &::before {
        left: 0;
        right: 0;
        width: 70%;
        height: 7rem;
        margin-top: .5rem;
        position: relative;
        border-radius: 1rem;
        background-size: contain;
        background-position: bottom;
        background-repeat: no-repeat;
      }

      .header-title {
        font-size: 2rem;
        line-height: 1.2;
        margin-top: .75rem;
      }

      .header-caption {
        font-size: .8rem;
        line-height: 1.85;
        margin-top: 1.25rem;
        margin-bottom: 1.5rem;
      }

    }

  }

}
